@import 'bootstrap';
@import 'color';

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  text-decoration: none;
  color: $primary-color;
}

#logo:hover {
  text-decoration: none;
  color: $hover-color;
}

.navbar {
  background-color: $secondary-color;
  border-color: $secondary-color;
}

.nav {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-between;
}

.nav li a {
  color: $text-color;
  text-decoration: none;
}

.nav li a:hover {
  color: $hover-color;
  text-decoration: none;
}

/* user profile */
aside {
  section .user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      padding-top: 0;
      border: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 20px;
  border-radius: 50%;
}

.gravatar_edit {
  margin-top: 15px;
}

/*forms*/
input,
textarea,
select,
.uneditable-input {
  border: 1px solid $secondary-color;
  width: 100%;
  margin-bottom: 15px;
  box-sizing: box-sizing;
  border-radius: 20px;
}

input {
  height: auto !important;
}

.checkbox {
  margin-bottom: 10px;
  margin-top: 10px;

  span {
    font-weight: normal;
    margin-left: 20px;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $primary-color;
    &:last-child {
      border-bottom: 1px solid $secondary-color;
      margin-bottom: 20px;
    }
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;

  input {
    border: 0;
  }
}

.microposts {
  list-style: none;
  padding: 0;
  margin-top: 20px;

  li {
    padding: 10px 0;
    border-top: 1px solid $primary-color;
  }

  .user {
    margin-top: 5em;
    padding-top: 0;
  }

  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }

  .content {
    display: block;

    img {
      display: block;
      padding: 5px 0;
    }
  }

  .timestamp {
    color: $secondary-color;
    display: block;
  }
}
